testxsd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="coal"/>
        <xs:element type="xs:string" name="cheese"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
